input[type="submit"] {
  background-color: #282;
  border-radius: 0.354em;
  border: solid thin #141;
  color: white;
  font-size: 1em;
  padding: 0.354em 1em;
}

input[type="submit"]:hover {
  background-color: #141;
}

.support_requests_actions {
  display: flex;
  justify-content: center;
  padding-right: 2em;
}